.card-body {
    right: -100%;

}



.card:hover .card-body {
    right: 0;
    bottom: 50px;
    top: 60px;
    font-size: 20px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 10px;
    color: white;

}